

<h1>Alphabetize</h1>


		<div>

			<div class="col-md-3" id='newAlphabetizedList'>
				<ul>
					<li ng-repeat='word in newAlphabetizedList'>{{word}}</li>
				</ul>
			</div>

			
			<div class="col-md-9" id='randomized-word-list'>
				<ul>
				<!-- got this from the jquery website for the sortable function  -->
					<li class='word-to-alphabetize' ng-click='alphabetize(word)' ng-repeat='word in words' ng-style="wordStyle(word)">{{word.text}}</li>

				</ul>

			</div>


		</div>






<br>
<br>
