

<h1>Alphabetize</h1>


<div>
	<ul id='sortable'>
	<!-- got this from the jquery website for the sortable function  -->
		<li ng-repeat='word in words' class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{word}}</li>

	</ul>

</div>


<!-- <button type="button" class='btn btn-primary' ng-click='submit()'>Submit</button> -->


<!-- Small modal -->


	<button href='#submit' class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click='submit()'>Submit</button>

	<div class="modal fade" id='submit' role='dialog'>
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<div class='modal-header'>
	      		<p>Submit</p>
	      	</div>
	    </div>
	  </div>
	</div>








<br>
<br>
{{words}}
