#randomized-word-list { 
	border: solid black 2px;
	list-style-type: none; 
	margin: 0; padding: 0; 
	height: 200px;

}

#randomized-word-list li {
	display: inline-block;
	margin: 15px; 
	padding: 15px; 
	font-size: 20px;
	border: 1px dashed black;
	background: white;
	cursor: move;
	width: 100px;
	text-align: center;
}

#newAlphabetizedList {
	border: black solid 2px;
	height: 200px;
	
}

#activity-options {
	text-align: right;
	border: black solid 2px;
	display: inline-block;
}

#home-button {
	border: black solid 2px;
	display: inline-block;
}