/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.activity-loaded body {
	height: 100%;
}


.activity-loaded .container {
	width: 100%;
	/*height: 800px;*/
	border: red solid 2px;
	overflow: auto;
	
}

.activity-main {
	/*border-top: solid black 2px;*/
	overflow: auto;
	/*height: 350px;*/
}

#randomized-word-list { 
	border: solid black 2px;
	list-style-type: none; 
	margin: 0; padding: 0; 
	height: 200px;

}

#randomized-word-list li {
	display: inline-block;
	margin: 15px; 
	padding: 15px; 
	font-size: 20px;
	border: 1px dashed black;
	background: white;
	cursor: move;
	width: 100px;
	text-align: center;
}

#newAlphabetizedList {
	border: black dashed 2px;
	height: 200px;	
}

#activity-options {
	text-align: right;
	border: black solid 2px;
	display: inline-block;
}

#home-button {
	border: black solid 2px;
	display: inline-block;
}

#header-style {
	font-size: 32px;
}

.animate-activity {
	border: solid yellow 5px;
}

/* COLLAPSE FUNCTION FOR ACTIVITIES */

.wtw-collapse.ng-hide-add, .wtw-collapse.ng-hide-remove {
    
    transition: all linear 1.5s;
    display:block!important;
  }

  .wtw-collapse.ng-hide-add.ng-hide-add-active,
  .wtw-collapse.ng-hide-remove {
    opacity:0;
    height: 0px;
  }

  .wtw-collapse.ng-hide-add,
  .wtw-collapse.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
  }



 .activity-loaded .header {
 	transition: all linear 1.5s;
 	margin: 0px;/*
 	height: 10px;*/
 	/*width: 0px;*/
 }

#alphabetize-link {
	display: inline-block;
	-webkit-transform: rotate(0deg);
	width: 180px;
	height: 150px;
	transition: all 2s;
	margin: 20px 20px 20px 20px;
}

.activity-loaded #alphabetize-link {
	-webkit-transform: rotate(0deg);
	margin: 0px 50px 0px 50px;

}

#vowel-sounds-link {
	display: inline-block;/*
	top: 250px;
	right: 150px;*/
	-webkit-transform: rotate(0deg);
	width: 180px;
	height: 150px;
	transition: all 2s;
	margin: 20px 20px 20px 20px;
}

.activity-loaded #vowel-sounds-link {
	-webkit-transform: rotate(0deg);
	margin: 0px 50px 0px 50px;
}

#something-link {
	display: inline-block;
	/*bottom: 250px;
	left: 150px;*/
	-webkit-transform: rotate(0deg);
	width: 180px;
	height: 150px;
	transition: all 2s;
	margin: 20px 20px 20px 20px;
}

.activity-loaded #something-link {
	-webkit-transform: rotate(0deg);
	margin: 0px 50px 0px 50px;
}

#something-else-link {
	display: inline-block;
/*	bottom: 250px;
	right: 150px;*/
	-webkit-transform: rotate(0deg);
	width: 180px;
	height: 150px;
	transition: all 2s;
	margin: 20px 20px 20px 20px;
}

.activity-loaded #something-else-link {
	-webkit-transform: rotate(0deg);
	margin: 0px 50px 0px 50px;
}

.current-activity {
	position: relative;
	transition: all 2s;
	width: 90%;
	height: 370px;
	margin: 50px auto;
	overflow: auto;
}

/*.activity-loaded .current-activity {
	
}
*/


  .current-activity.ng-hide-add, .current-activity.ng-hide-remove {
    
    transition: all linear 2.5s;
    display:block!important;
  }

  .current-activity.ng-hide-add.ng-hide-add-active,
  .current-activity.ng-hide-remove {
    opacity:0;
  }

  .current-activity.ng-hide-add,
  .current-activity.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
  }




/* STYLING FOR THE MODAL */

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
  font-size: 50px;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}