.activity-loaded .container {
	width: 100%;
	height: 100%;
	border: red solid 2px;
	overflow: auto;
	
}

.activity-main {
	/*border-top: solid black 2px;*/
	overflow: auto;
	/*height: 350px;*/
}

#randomized-word-list { 
	border: solid black 2px;
	list-style-type: none; 
	margin: 0; padding: 0; 
	height: 200px;

}

#randomized-word-list li {
	display: inline-block;
	margin: 15px; 
	padding: 15px; 
	font-size: 20px;
	border: 1px dashed black;
	background: white;
	cursor: move;
	width: 100px;
	text-align: center;
}

#newAlphabetizedList {
	border: black dashed 2px;
	height: 200px;	
}

#activity-options {
	text-align: right;
	border: black solid 2px;
	display: inline-block;
}

#home-button {
	border: black solid 2px;
	display: inline-block;
}

#header-style {
	font-size: 32px;
}

.animate-activity {
	border: solid yellow 5px;
}

.wtw-collapse.ng-hide-add, .wtw-collapse.ng-hide-remove {
    
    transition: all linear 1.5s;
    display:block!important;
  }

  .wtw-collapse.ng-hide-add.ng-hide-add-active,
  .wtw-collapse.ng-hide-remove {
    opacity:0;
    height: 0px;
  }

  .wtw-collapse.ng-hide-add,
  .wtw-collapse.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
  }

#alphabetize-link {
	display: inline-block;
	-webkit-transform: rotate(0deg);
	width: 180px;
	height: 150px;
	transition: all 2s;
	margin: 20px 20px 20px 20px;
}

.activity-loaded #alphabetize-link {
	top: 0;
	left: 0;
	-webkit-transform: rotate(0deg);
	margin: 0px 20px 0px 20px;

}

#vowel-sounds-link {
	display: inline-block;/*
	top: 250px;
	right: 150px;*/
	-webkit-transform: rotate(0deg);
	width: 180px;
	height: 150px;
	transition: all 2s;
	margin: 20px 20px 20px 20px;
}

.activity-loaded #vowel-sounds-link {
	top: 0;
	right: 0;
	-webkit-transform: rotate(0deg);
	margin: 0px 20px 0px 20px;
}

#something-link {
	display: inline-block;
	/*bottom: 250px;
	left: 150px;*/
	-webkit-transform: rotate(0deg);
	width: 180px;
	height: 150px;
	transition: all 2s;
	margin: 20px 20px 20px 20px;
}

.activity-loaded #something-link {
	bottom: 0;
	left: 0;
	-webkit-transform: rotate(0deg);
	margin: 0px 20px 0px 20px;
}

#something-else-link {
	display: inline-block;
/*	bottom: 250px;
	right: 150px;*/
	-webkit-transform: rotate(0deg);
	width: 180px;
	height: 150px;
	transition: all 2s;
	margin: 20px 20px 20px 20px;
}

.activity-loaded #something-else-link {
	bottom: 0;
	right: 0;
	-webkit-transform: rotate(0deg);
	margin: 0px 20px 0px 20px;
}

.current-activity {
	position: relative;
	transition: all 2s;
	width: 90%;
	margin: 50px auto;
	overflow: auto;
}

.activity-loaded .current-activity {
	
}



  .current-activity.ng-hide-add, .current-activity.ng-hide-remove {
    
    transition: all linear 2.5s;
    display:block!important;
  }

  .current-activity.ng-hide-add.ng-hide-add-active,
  .current-activity.ng-hide-remove {
    opacity:0;
  }

  .current-activity.ng-hide-add,
  .current-activity.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
  }




/* STYLING FOR THE MODAL */

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
  font-size: 50px;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}