
/*WHOLE PAGE CONTAINER*/
.container {
	width: 100%;
	height: 100%;
	border: red solid 2px;
	background-color: #66CDAA;
}


/*Header*/
.header {
	border: black solid 2px;
}

.word-study-box {
	border: black dashed 2px;
	text-align: center;
	width: 100%;
}


/* ALL HOME PAGE OPTIONS TO CLICK ON */
.home-page-options {
	border: purple dashed 2px;
	background-color: white;
	height: 150px;
	width: 200px;
	text-align: center;
	font-size: 30px;
	font color: purple;
}


/*This is the left side box*/
#left-side {
	width: 50%;
	border: blue solid 2px;
}


/* This is the right side box */
#right-side {
	width: 50%;
	border: blue solid 2px;
}

#home-page-images {
	opacity: .5;
	display: inline-block;
	border: solid black 2px;
	float: left;
}
